@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:wght@300&family=Secular+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
    font-family: 'Bruno Ace', cursive;
    font-weight: 200;
    background: rgb(80,11,40);
    background: linear-gradient(62deg, rgba(80,11,40,1) 20%, rgba(226,28,52,1) 100%);
    position: relative;
  }

.logo{
    height: 150px;
    width: 240px;
    margin-right: 40px;
    object-fit: cover;
}
.navbar {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.container-fluid{
    background-color: #ffff;
}

.img-carousel{
    width: 70vw;
    height: 70vh;
    padding-top: 30px;
}

.title{
    font-family: 'Bruno Ace', cursive;
    font-weight: 200;
    font-size: 30px;
    color: #ffff;
    text-align: center;
    margin-top: 35px;
}

.info-importante{
    margin-top: 40px;
    margin-left: 45px;
}

.subtitle{
    font-family: 'Bruno Ace', cursive;
    font-weight: 200;
    font-size: 25px;
    color: #ffff;
    text-align:center;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 35px;

}

.contenedor-cartelera{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
    margin-bottom: 30px;
    
}
.contenedor-cartelera img{
    width: 400px;
    height: 600px;
    margin: 15px;
    padding-left: 20px;
    
}
.poster:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  
  .logo-footer{
    height: 80px;
    width: 140px;
    align-items: center;
  }

  .footer{
    font-family: 'Bruno Ace', cursive;
    font-weight: 200;
    font-size: 20px;
    color: #ffff;
    text-align:center;
    text-decoration: none; 
  }

  .title-timetable{
    font-family: 'Bruno Ace', cursive;
    font-weight: 200;
    font-size: 20px;
    color: #ffff;
    text-align:left;
  }

  .films{
    height: 500px;
    width: 800px;
    margin-bottom: 40px;
  }

 .nav-days{
  text-decoration: none;
  color: #ffff;
 } 

 .tab-pane{
  color: #ffff;
 }

 .text-film{
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  margin-right: 80px;
  text-align: justify;
 }

 .btn{
  color: #ffff;
  background-color: black;
  border-color: black;
  font-family: 'Poppins', sans-serif;
 }

 .promo-market{
  height: 600px;
  width: 1650px;
  margin-bottom: 60px;
 }

 .combos{
  height: 400px;
  width: 400px;
 }

 .btn-market{
  color: #ffff;
  background-color: black;
  border-color: black;
  font-family: 'Poppins', sans-serif;
  height: 40px;
  width: 300px;
  
 }
 
 